a {
  color: #000;
}

a:focus, 
a:hover {
  color:#FF9AAB
}

body {
  background-color: #FF778D;
}

button.login-btn.btn.btn-default {

}

.btn-default:focus,
.btn-default:hover {
  background-color: #FF9AAB;
  border:1px solid #FF9AAB;
  color:#000
}


hr.small {
  border-color: #000
}

.page-heading h1 {
  color: #000;
}

.login-btn {
  border-color: #000;
  background-color: #000;
  color: #fff;
  padding: 15px 25px;
}

form .row:first-child .floating-label-form-group {
  border-top:1px solid #000
}

.floating-label-form-group { 
  font-size:14px;
  position: relative;
  margin-bottom:0;
  padding-bottom:.5em;
  border-bottom:1px solid #000
}

.text-muted {
  color: #000;
}

::selection {
  color: #FF778D;
  background-color: #fff;
}

::-moz-selection {
  color: #FF778D;
  background-color: #fff;
}

::placeholder {
  color: #FFB5C0 !important;
}

.form-control {
  color: #000;
  background-color: #FF778D;
}

.navbar-default .navbar-nav>li>a:hover {
  color: black;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

.floating-label-form-group-with-focus label {
  color: #C33B51;
}


@media only screen and (max-width: 768px)  {
  .navbar-default {
    border: none !important;
  }

  .navbar-header.page-scroll {
    background-color: #FF778D;
  }

  .navbar-toggle {
    color: black !important;
    background-color: white;
  }

  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    -webkit-box-shadow: inset 0 0px 0;
    background-color: #FF778D;
    border: none !important;
  }

  .navbar-default .navbar-nav>li>a {
    color: white;
  }
  .navbar-default .navbar-nav>li>a:hover {
    color: black;
  }
}