a {
  color: #000;
}

a:focus, 
a:hover {
  color:#FF9AAB
}

body {
  background-color: white;
}

h1 {
  position: center;
}

hr.small {
  border-color: #000
}

.container-fluid {
  background-color: #FF9AAB;
}

.info {
  margin-top: 150px;
}

.login-bg {
  background-image: linear-gradient(to top, 
    rgba(255,255,255,.0) 0%, 
    rgba(255,255,255,0) 20%,
    rgba(0,0,0,0) 70%,
    rgba(255,255,255,0.9) 100%
  ),
  url('https://c1.staticflickr.com/8/7041/6896001383_842810f1ef_b.jpg');
  background-size: 100% ;
  background-repeat: no-repeat;
  background-position: bottom;
  display: block;
  position: absolute;
  margin-left: 0px;
  width: 100%;
}

footer {
  margin-top: 15%;
  padding-top: 50px;
}

.btn-default:focus,
.btn-default:hover {
  background-color: #FF9AAB;
  border:1px solid #FF9AAB;
  color:#000
}

.login-btn {
  border-color: #000;
  background-color: #000;
  color: #fff;
  padding: 15px 25px;
}

form .row:first-child .floating-label-form-group {
  margin-top: 10%;
  border-top:1px solid #000
}

.floating-label-form-group { 
  font-size:14px;
  position: relative;
  margin-bottom:0;
  padding-bottom:.5em;
  border-bottom:1px solid #000
}

.text-muted {
  color: #000;
}

::selection {
  color: #FF778D;
  background-color: #fff;
}

::placeholder {
  color: #999 !important;
}

.form-control {
  color: #000;
  background-color: #FF778D;
}

.navbar-default .navbar-nav>li>a:hover {
  color: black;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

.floating-label-form-group-with-focus label {
  color: #C33B51;
}

@media only screen and (max-width: 768px)  {
  .navbar-default {
    border: none !important;
  }

  .navbar-header.page-scroll {
    background-color: #FF778D;
  }

  .navbar-toggle {
    color: black !important;
    background-color: white;
  }

  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    -webkit-box-shadow: inset 0 0px 0;
    background-color: #FF778D;
    border: none !important;
  }

  .navbar-default .navbar-nav>li>a {
    color: white;
  }
  .navbar-default .navbar-nav>li>a:hover {
    color: black;
  }

  .login-content {
    margin-top: 100px;
    height: 300px;
  }

  .puppy1 {
    visibility: hidden;
  }

  .puppy2 {
    visibility: hidden;
  }
}

@media only screen and (min-width: 768px) {
  h1 {
    margin-top: 150px;
  }

  h1.slogan {
    font-size: 24px;
    width: 300px;
    margin: 40px 0px 0px 75px;
  }

  @keyframes rotate2 {
    0% {
      transform: rotateZ(-3deg);
      margin-left: -150px;
    }
    50% {
      transform: rotateZ(-3deg);
      margin-left: -150px;
    }
    100% {
      transform: rotateZ(7deg);
      margin-left: -75px;
    }
  }

  .puppy1 {
    width: 150px;
    margin-left: 75px;
    transform-style: preserve-3d;
    transform: rotateZ(-3deg);
  }

  .puppy2 {
    position: absolute;
    margin-left: -75px;
    width: 150px;
    animation-name: rotate2;
    animation-duration: 1s;
    transform: rotateZ(7deg);
  }

  .login-bg {
    margin-top: 200px;
    height: 500px;
  }

  .login-content {
    height: 540px;
  }
}

@media only screen and (min-width: 1170px) {
  h1 {
    margin-top: 250px;
  }
  @keyframes rotate1 {
    0% {
      transform: rotateZ(-3deg);
      margin-left: -250px;
    }
    50% {
      transform: rotateZ(-3deg);
      margin-left: -250px;
    }
    100% {
      transform: rotateZ(7deg);
      margin-left: -100px;
    }
  }

  .puppy1 {
    width: 250px;
    margin-left: 100px;
    transform-style: preserve-3d;
    transform: rotateZ(-3deg);
  }

  .puppy2 {
    position: absolute;
    margin-left: -100px;
    width: 250px;
    animation-name: rotate1;
    animation-duration: 1s;
    transform: rotateZ(7deg);
  }

  .login-bg {
    margin-top: 100px;
    height: 750px;
  }

  h1.slogan {
    font-size: 36px;
    width: 300px;
    margin: 20px 0px 0px 125px;
  }

  .login-content {
    height: 625px;
  }
}