<link href="/css/set-up.css" rel="stylesheet">
<link class="jsbin" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
<script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>
<script src="/js/previewImage.js"></script>
<meta charset=utf-8 />
<div class="set-up-bg">
  <div class="container">
    {{#if error}}
    <div class="form-group col-xs-12 floating-label-form-group controls">
      <div class="alert alert-danger"><center>ERROR</center></div>
    </div>
    {{/if}}
    <div class="page-title row col-md-6 col-md-offset-3">
      <h1>Set Up</h1>
      <hr class="small">
      <span class="subheading">Do it for the puppers!</span>
      <br><br>
    </div>

    <div class="row">
      <div class="profile-form col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <form name="upload-profile" action="/set-up" method="post" enctype="multipart/form-data">
          <div class="form-group col-xs-12 controls control-group text-center">
            <label class="upload-label">Profile Picture</label>
            <br>
            <img class="profile-img-display img-circle" id="preview" src="#" alt="" />
            <br>
            <input class="profile-upload" type="file" id="file" name="profileImage" onchange="displayImage(this);"/>
            <label class="btn btn-default" for="file">Choose a file...</label>
            <br>
          </div>
          <div class="form-group col-xs-12 floating-label-form-group controls control-group">
            <label>First Name</label>
            <input type="text" class="form-control" placeholder="First Name" name="firstname" require data-validation-required-message="Please enter your first name">
            <p class="help-block text-danger"></p>
            <br>
          </div>
          <div class="form-group col-xs-12 floating-label-form-group controls control-group">
            <label>Last Name</label>
            <input type="text" class="form-control" placeholder="Last Name" name="lastname" require data-validation-required-message="Please enter your last name">
            <p class="help-block text-danger"></p>
            <br>
          </div>
          <div class="form-group col-xs-12 floating-label-form-group controls control-group">
            <label>Date of Birth</label>
            <input type="date" class="form-control" placeholder="DateOfBirth" name="birthday" require data-validation-required-message="Please enter your birthday">
            <p class="help-block text-danger"></p>
            <br>
          </div>
          <div class="form-group col-xs-12 floating-label-form-group controls control-group">
            <label>Bio</label>
            <textarea type="text" class="bio form-control" rows="5" placeholder="Bio" name="bio" require data-validation-required-message="Please fill in your bio."></textarea>
            <p class="help-block text-danger"></p>
          </div>
          <br>
          <div class="form-group col-xs-12 floating-label-form-group controls control-group">
            <label>Hobbies</label>
            <input type="text" class="form-control" placeholder="Hobbies" name="hobbies" require data-validation-required-message="List any hobbies you have.">
            <p class="help-block text-danger"></p>
            <br>
          </div>
          <div class="form-group col-xs-12 floating-label-form-group controls control-group">
            <hr class="divider">
            <button type="submit" class="btn btn-default">Done</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>