<header class="intro-header" style="background-image: url('/img/contact-bg.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="page-heading">
          <h1>Set Up</h1>
          <hr class="small">
          <span class="subheading">Do it for the puppers!</span>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
  {{#if error}}
  <div class="form-group col-xs-12 floating-label-form-group controls">
    <div class="alert alert-danger"><center>ERROR</center></div>
  </div>
  {{/if}}
          
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <form name="upload-profile" action="/set-up" method="post" enctype="multipart/form-data">
        <label >Upload a Profile Picture:</label>
        <input type="file" name="profileImage" id="profileImage"/>
        <span class="hint">Supported files: jpg, jpeg, png.</span>
        <hr class="divider">
        <br>
        <div class="form-group col-xs-12 floating-label-form-group controls">

          <label>Date of Birth</label>
          <input type="date" class="form-control" placeholder="DateOfBirth" name="birthday" require data-validation-required-message="Please enter your birthday">
          <p class="help-block text-danger"></p>
          <hr class="divider">
          <br>

          <label>Bio</label>
          <input type="text" class="form-control" placeholder="Bio" name="bio" require data-validation-required-message="Please fill in your bio.">
          <p class="help-block text-danger"></p>
          <hr class="divider">
          <br>

          <label>Hobbies</label>
          <input type="text" class="form-control" placeholder="Hobbies" name="hobbies" require data-validation-required-message="List any hobbies you have.">
          <p class="help-block text-danger"></p>
          <hr class="divider">
          <br>

        </div>
        <div class="row">
          <div class="form-group col-xs-12">
              <button type="submit" class="btn btn-default">Done</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
